<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.outsystems.plugins.inappbrowser.osinappbrowserlib">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permissions for webcam websites and such, for WebView -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Permissions for websites that request location (e.g. Google Maps), for WebView -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- For File Chooser -->
    <!-- For API 32 or lower -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- For API 33 or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:supportsRtl="true">
        <activity
            android:name=".views.OSIABWebViewActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|uiMode"
            android:label="OSIABWebViewActivity"
            android:theme="@style/AppTheme.WebView" />
        <activity android:name=".views.OSIABCustomTabsControllerActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>
</manifest>